<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
            background-color: <%= session.userData ? session.userData.color : null %>;
        }
    </style>
    <h2><a href="/">formulario</a></h2>
    <% if(session.userData) { %>
    <p><%= session.userData.name %>, gracias por visitarnos.</p>
    <% } else { %>
    <p>Aun no cargo datos en el formulario</p>
    <% } %>
    
</body>
</html>